/*上传头像*/
.avatar-uploader .el-upload {
    border: 2px dashed #9d9a9a;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 31%;

}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.avatar {
    width: 126px;
    height: 126px;
    display: block;
}

.upload-name {
    /*text-align: center;*/
    margin-left: 37%;
    margin-bottom: 20px;
}
.progress{
    margin-left: 31%;

}
